body {
    font-size: 1.2em;
	padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


ul li {
	margin-top: 5px;
}

p {
	line-height: 1.5em;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
}

#wrapper {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

/* BEGIN HEADER */
#selfie {
    border-radius: 50%;
    max-width: 300px;
}

#name {
    font-family: Arial, Helvetica, sans-serif;
}

#links {
	list-style: none;
	padding: 0;
}

#links li {
	margin-top: 7px;
}

#links a {
  background-repeat: no-repeat;
  padding-left: 30px;
}

#links a[href*="github"] {
  background-image: url('svg/github-brands.svg');
}

#links a[href*="linkedin"] {
  background-image: url('svg/linkedin-brands.svg');
}

#links a[href*="mailto"] {
  background-image: url('svg/envelope-regular.svg');
}

#links a[href*="CV"] {
  background-image: url('svg/file-pdf-regular.svg');
}

.header-container {
	margin: 0 auto;
	display: flex;
	display: flex;
	align-items: center;
	justify-content: center;

}

.right {
	padding: 12px;
} 

@media screen and (max-width: 575px){
  .header-container{
	  flex-direction: column;
  }
  .header-container div {
	width: 100%;
  }
  .right {
	padding:0;
  } 
  
  .section {
	  padding-left: 10px;
	  padding-right: 10px;
  }
}
/* END HEADER */

.section {
    text-align: left;
	margin-top: 50px;
}

.entrada-experiencia {
	color: #2F4F4F;
}

.detalle {
	font-size: 0.9em;
}

footer {
	padding-top: 40px;
}

.featured {
	border-bottom: dashed 3px blue;
}

.bold {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}